<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">  
</head>
<body>
    <h1>Welocm! Sign in to make a wish!</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="box">
        <h2>Register</h2>
        <form action="/register" method="post">
            {% csrf_token %}
            <div class="box2">
                <label for="fname">First Name: </label>
                <input type="text" name="fname">
            </div>
            <div class="box2">
                <label for="lname">Last Name: </label>
                <input type="text" name="lname">
            </div>
            <div class="box2">
                <label for="email">Email: </label>
                <input type="email" name="email">
            </div>
            <div class="box2">
                <label for="password">Password: </label>
                <input type="password" name="password">
            </div>
            <div class="box2">
                <label for="cpass">Confirm Password: </label>
                <input type="password" name="cpass">
            </div>
            <input type="submit" value="Register">
        </form>
    </div>

    <div class="box">
        <h2>Login</h2>
        <form action="/login" method="post">
            {% csrf_token %}
            <div class="box2">
                <label for="email">Email: </label>
                <input type="email" name="email">
            </div>
            <div class="box2">
                <label for="password">Password: </label>
                <input type="password" name="password">
            </div>
            <input type="submit" value="Login">
        </form>
    </div>

</body>

</html>